<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} | tom.camp</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    {% include "nav.njk" %}

    <main>{{ content | safe }}</main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p class="text-nc-red">&copy; {% year %} tom.camp</p>
      </div>
    </footer>
  </body>
</html>
