---
layout: base.njk
---

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <article>
          <p class="has-text-grey is-size-7 mb-2">
            {{ page.date | date("MMMM d, yyyy") }}
          </p>
          <h1 class="title">{{ title }}</h1>
          {% if description %}
          <p class="subtitle">{{ description }}</p>
          {% endif %}
          <hr />
          <div class="content">{{ content | safe }}</div>
          {% if topics | length > 0 %}
          <div class="box">
            {% for topic in topics %}
            <span class="tag is-medium">{{ topic }}</span>
            {% endfor %}
          </div>
          {% endif %}
          <hr />
          <a href="/posts/" class="button is-light">&larr; Back to Posts</a>
        </article>
      </div>

      <div class="column is-4">
        <aside>
          <div class="box">
            <h2 class="title is-5">Lincs</h2>
            <ul>
              <li>
                <i class="fa-xs fa-brands fa-github"></i>
                <a href="#">Link one</a>
              </li>
              <li><a href="#">Link two</a></li>
              <li><a href="#">Link three</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>
