---
layout: base.njk
---

<section class="section">
  <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/projects">Projects</a></li>
      <li class="is-active"><a aria-current="page">{{ title }}</a></li>
    </ul>
  </nav>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <article>
          <p class="has-text-grey is-size-7 mb-2">
            {{ page.date | date("MMMM d, yyyy") }}
          </p>
          <h1 class="title">{{ title }}</h1>
          {% if description %}
          <p class="subtitle">{{ description }}</p>
          {% endif %} {% include "image-slider.njk" %}
          <div class="content">{{ content | safe }}</div>
          {% if topics | length > 0 %}
          <div class="has-text-centered">
            {% for topic in topics %}
            <span class="tag is-medium">{{ topic }}</span>
            {% endfor %}
          </div>
          {% endif %}
          <hr />
          <a href="/projects/" class="button is-light"
            >&larr; Back to Projectss</a
          >
        </article>
      </div>

      <div class="column is-4 mt-6">
        <aside>
          {% if repo %}
          <div class="box">
            <h2 class="title is-5">
              <span class="icon mr-2">
                <img src="/img/github.svg" alt="GitHub Logo" />
              </span>
              Git repository
            </h2>
            <ul class="links ml-1">
              <li class="my-1">
                <a href="{{ repo }}" target="_blank" rel="noopener noreferrer">
                  {{ repo }}
                </a>
              </li>
            </ul>
          </div>
          {% endif %} {% if hardware | length > 0 %}
          <div class="box">
            <h2 class="title is-5">
              <span class="icon mr-2">
                <img src="/img/hardware.svg" alt="Hardware Logo" />
              </span>
              Hardware
            </h2>
            <ul class="links ml-1">
              {% for ware in hardware %}
              <li class="my-1">
                <a
                  href="{{ ware.url }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ ware.name }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </aside>
      </div>
    </div>
  </div>
</section>
