---
title: Home
layout: base.njk
---

<section class="section">
  <div class="container">
    <div class="card is-centered is-family-monospace">
      <div class="card-content has-text-centered">
        <div class="is-italic is-size-4 mb-4">
          “The most disastrous thing that you can ever learn is your first
          programming language.”
        </div>
        <div class="is-size-5">Alan Kay</div>
        <div class="is-size-6">Learning Research Group | Xerox PARC</div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-3">Recent Projects</h2>
    {% set recentPosts = collections.projects | reverse | limit(3) %}
    <div class="columns is-multiline">
      {% for project in recentPosts %}
      <div class="column is-one-third-tablet">
        <a href="{{ project.url }}" class="has-text-dark">
          <div class="card h-100">
            {% if project.data.images and project.data.images[0] %}
            <div class="card-image">
              <figure class="image is-16by9">
                <img
                  src="{{ project.data.images[0].src }}"
                  alt="{{ project.data.images[0].alt }}"
                  style="object-fit: cover"
                />
              </figure>
            </div>
            {% endif %}
            <div class="card-content">
              <p class="title is-5">{{ project.data.title }}</p>
              {% if project.data.description %}
              <p class="subtitle is-6 has-text-grey">
                {{ project.data.description }}
              </p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      {% else %}
      <div class="column"><p>No projects yet.</p></div>
      {% endfor %}
    </div>
  </div>
</section>
